body {
     background-image: url(../images/pattern-background-desktop.svg);
     background-repeat: no-repeat;
     background-color:  hsl(225, 100%, 94%);
     font-family: 'Red Hat Display';
}

.container {
     margin: 50px, auto;
     width: 450px;
     height: 300%;
     background-color: white;
     border-radius: 20px;
     font-size: 16px;
     text-align: center;
     box-sizing: border-box;
     font-style: 500, 700, 900;
}

.head {
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
}

.stomach {
     display: flex;
     background-color: hsl(225, 100%, 98%);
     border-radius: 20px;
     padding: 2px;
     margin: 25px;
     justify-content:space-around;
}

.ankle {
     color: white;
     padding: 2px;
     border-radius: 15px;
     margin: 15px;
     border-style: none;
     background-color: hsl(225, 69%, 46%);
}
