* {
     text-align: center;
     box-sizing: border-box;
}


body {
     background-image: url(../images/pattern-background-desktop.svg);
     background-repeat: no-repeat;
     background-color:  hsl(225, 100%, 94%);
     font-family: 'Red Hat Display';
}


.container {
     margin: auto;
     width: fit-content;
     height: 130%;
     background-color: white;
     border-radius: 20px;
     font-size: 16px;
     box-sizing: border-box;
     font-style: 500, 700, 900;
}


.head {
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
}


.stomach {
     display: flex;
     background-color: hsl(225, 100%, 98%);
     margin: auto;
     padding: auto;
     border-radius: 10px;
     align-items: center;
     justify-content:space-around;
     justify-items: flex-end;
}


.ankle {
     color: white;
     width: 375px;
     padding: auto;
     border-radius: 10px;
     border: none;
     background-color: hsl(225, 69%, 46%);
}
