* {
     text-align: center;
}


body {
     background-image: url(../images/pattern-background-desktop.svg);
     background-repeat: no-repeat;
     background-color:  hsl(225, 100%, 94%);
     font-family: 'Red Hat Display';
}

.container {
     margin: auto;
     width: fit-content;
     height: 180%;
     background-color: white;
     border-radius: 20px;
     font-size: 16px;
     box-sizing: border-box;
     font-style: 500, 700, 900;
}


.head {
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
}

stomach {
     display: flex;
     background-color: hsl(225, 100%, 98%);
     margin: 0;
     width: 300px;
     padding: 0;
     align-items: center;
     border-radius: 20px;
     justify-content: space-around;
     justify-items: flex-end;
}

.ankle {
     color: white;
     padding: 10px;
     border-radius: 20px;
     background-color: hsl(225, 69%, 46%);
}
