header {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500, 700, 900;
    font-size: 16px;
}
  
.flow {
    text-align: center;
    font-weight: 500, 700, 900;
    font-size: 16px;
    font-family:Georgia;
    color: Bright blue;
}

.flow_1 {
    text-align: center;
    font-weight: 500, 700, 900;
    font-size: 16px;
    font-family: Georgia;
    padding: auto;
    border-color: azure;
    margin: auto
}

#pa {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}
      
.flow_2 {
    text-align: center;
    font-weight: 500, 700, 900;
    font-size: 16px;
    font-family: Georgia;
}

.flow_3 {
    text-align: center;
    font-weight: 500, 700, 900;
    font-size: 16px;
}